// nextflow.config

// ----------------------------------------------------------------------------
// Parameters
// ----------------------------------------------------------------------------
params {
    // ----- Control Flow -----
    run_id              = null
    publish_dir_mode    = 'copy'

    // ----- Input -----
    sample_sheet        = 'sample_sheet.csv'
    data_dir            = 'data'
    maps_dir            = null

    // ----- Output -----
    outdir              = 'out'

    // ----- Containers ------
    container_bash      = 'ubuntu:jammy'
    container_blast     = 'staphb/blast:latest'
    container_samap     = 'avianalter/samap:latest'
    container_seurat    = 'mdiblbiocore/seurat:latest'
}

// ----------------------------------------------------------------------------
// Profiles
// ----------------------------------------------------------------------------
profiles {
    test {
        process {
            cpus = 1
            memory = '8 GB'
            time = '10m'
        }
    }

    cluster {
        process {
            cpus = 8
            memory = '8 GB'
            time = '12h'
        }
    }

    worm {
        process {
            withName: 'VERIFY_SAMPLESHEET' {
                cpus = 4
                memory = '8 GB'
                time = '4h'
            }
            withName: 'ENSURE_H5AD' {
                cpus = 4
                memory = '8 GB'
                time = '4h'
            }
            withName: 'CLASSIFY_FASTA' {
                cpus = 4
                memory = '8 GB'
                time = '4h'
            }
            withName: 'RUN_BLAST_PAIR' {
                cpus = 64
                time = '24h'
            }
            withName: 'MERGE_MAPS' {
                cpus = 2
                time = '4h'
            }
            withName: 'LOAD_SAM' {
                cpus = 4
                memory = '16 GB'
            }      
            withName: 'BUILD_SAMAP' {
                cpus = 32
                time = '12h'
            }   
            withName: 'RUN_SAMAP' {
                cpus = 32
                time = '12h'
            }   
            withName: 'VISUALIZE_SAMAP' {
                cpus = 16
                time = '8h'
            }   
        }
    }

}

// ----------------------------------------------------------------------------
// Process Defaults
// ----------------------------------------------------------------------------
process {
    withName: 'VERIFY_SAMPLESHEET' {
        publishDir = [
            path: { "${params.outdir}/00_verify" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
        container = params.container_bash
        containerOptions = "-v ${projectDir}/scripts:/usr/local/bin"
    }
    withName: 'ENSURE_H5AD' {
        publishDir = [
            path: { "${params.outdir}/01_ensure_h5ad" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
        container = params.container_seurat
        containerOptions = "-v ${projectDir}/scripts:/usr/local/bin"
    }   
    withName: 'CLASSIFY_FASTA' {
        publishDir = [
            path: { "${params.outdir}/02_classify" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
        container = params.container_bash
        containerOptions = "-v ${projectDir}/scripts:/usr/local/bin"
    }   
    withName: 'RUN_BLAST_PAIR' {
        publishDir = [
            path: { "${params.outdir}/03_blast" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
        container = params.container_blast
        containerOptions = "-v ${projectDir}/scripts:/usr/local/bin"
    } 
    withName: 'MERGE_MAPS' {
        publishDir = [
            path: { "${params.outdir}/04_merge" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
        container = params.container_bash
    }
    withName: 'LOAD_SAM' {
        publishDir = [
            path: { "${params.outdir}/05_load_sam" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
        container = params.container_samap
        containerOptions = "-v ${projectDir}/scripts:/usr/local/bin"
    }      
    withName: 'BUILD_SAMAP' {
        publishDir = [
            path: { "${params.outdir}/06_build_samap" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
        container = params.container_samap
        containerOptions = "-v ${projectDir}/scripts:/usr/local/bin"
    }   
    withName: 'RUN_SAMAP' {
        publishDir = [
            path: { "${params.outdir}/07_run_samap" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
        container = params.container_samap
        containerOptions = "-v ${projectDir}/scripts:/usr/local/bin"
    }   
    withName: 'VISUALIZE_SAMAP' {
        publishDir = [
            path: { "${params.outdir}/08_visualize" },
            mode: params.publish_dir_mode ?: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
        container = params.container_samap
        containerOptions = "-v ${projectDir}/patches/analysis.py:/root/miniconda/lib/python3.8/site-packages/samap/analysis.py " +
                        "-v ${projectDir}/scripts:/usr/local/bin"
    }   
}
